header {
	background-color: #337ab7;
	min-height: 200px;
	min-width: 100%;
}
.header-text {
	padding-top: 60px;
	padding-bottom: 60px;
}
.header-text h1 {
	font-weight: 500;
	font-size:60px;
	color:#fff;
}
.header-text p {
	font-weight: 300;
	font-size:24px;
	color:#78B2E4;
}
.navbar-fixed-top {
	position: relative;
	margin-bottom: 0;
}
.showHide {
	float: right;
}
.shoutbox {
	max-height: 200px;
	overflow: auto;
}
iframe {
	border: 0;
	width: 100%;
	min-height:220px;
}
body {
	overflow-x:hidden;
}